In [2]:
import pandas as pd
import pickle

In [3]:
import pandas as pd
import pickle
# load : get the data from file
#df = pickle.load(open(r"C:\Users\fidel\MSDS7331\data\airline_merged.pkl", "rb"))
# loads : get the data from var
#data = pickle.load(var)

airlines = pd.read_csv(r"C:\Users\fidel\MSDS7331\data\flightdelay\airlines.csv")
airport = pd.read_csv(r"C:\Users\fidel\MSDS7331\data\flightdelay\airports.csv")
flights = pd.read_csv(r"C:\Users\fidel\MSDS7331\data\flightdelay\flights.csv", low_memory=False)

In [42]:
airlines.head()
airlines.describe()
airlines.info()
airlines.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  14 non-null     object
 1   AIRLINE    14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes

IATA_CODE    0
AIRLINE      0
dtype: int64

In [43]:
airport.head()
airport.describe()
airport.info()
airport.isnull().sum()

#0 for dropping rows with na, 1 for dropping columnbs with na)
#airport.dropna(axis=0, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

IATA_CODE    0
AIRPORT      0
CITY         0
STATE        0
COUNTRY      0
LATITUDE     3
LONGITUDE    3
dtype: int64

In [18]:
flights.head()
flights.describe()
flights.info()
flights.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [12]:
#Removing Attributes (redudant, no purpose)
for col in ['YEAR','FLIGHT_NUMBER','TAIL_NUMBER']:
    if col in df:
        del df[col]
df.describe()

,MONTH,DAY,DAY_OF_WEEK,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,...,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,LATITUDE_ORIGIN,LONGITDUE_ORIGIN,LATITUDE_ORIGIN,LONGITDUE_ORIGIN
count,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,5.819073e+06,5.714008e+06,...,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,5.328309e+06,5.328309e+06,5.328304e+06,5.328304e+06
mean,6.524085e+00,1.570459e+01,3.926941e+00,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,1.416859e+02,1.370062e+02,...,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00,3.663806e+01,-9.549123e+01,3.663795e+01,-9.549102e+01
std,3.405137e+00,8.783425e+00,1.988845e+00,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,7.521058e+01,7.421107e+01,...,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01,5.999338e+00,1.815637e+01,5.999285e+00,1.815616e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,1.800000e+01,1.400000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.348345e+01,-1.766460e+02,1.348345e+01,-1.766460e+02
25%,4.000000e+00,8.000000e+00,2.000000e+00,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,8.500000e+01,8.200000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.289595e+01,-1.119778e+02,3.289595e+01,-1.119778e+02
50%,7.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,1.230000e+02,1.180000e+02,...,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00,3.736186e+01,-9.025803e+01,3.736186e+01,-9.025803e+01
75%,9.000000e+00,2.300000e+01,6.000000e+00,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,1.730000e+02,1.680000e+02,...,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00,4.078839e+01,-8.168786e+01,4.078839e+01,-8.168786e+01
max,1.200000e+01,3.100000e+01,7.000000e+00,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,7.180000e+02,7.660000e+02,...,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03,7.128545e+01,-6.479856e+01,7.128545e+01,-6.479856e+01

In [36]:
#merging the tables
flights1 = pd.merge(left = flights, right = airlines, left_on='AIRLINE', right_on='IATA_CODE').rename(columns={'AIRLINE_y' : 'AIRLINE', 'IATA_CODE':'AIRLINE_CODE'})

In [37]:
#flights.head()
#flights.describe()
#flights.info()
flights1.isnull().sum()
flights1.drop('AIRLINE_x', axis=1, inplace=True) #axis 1 for column

In [38]:
flights1.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIRLINE_CODE,AIRLINE
0,2015,1,1,4,98,N407AS,ANC,SEA,5,2354.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
1,2015,1,1,4,135,N527AS,SEA,ANC,25,24.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
2,2015,1,1,4,108,N309AS,ANC,SEA,45,41.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
3,2015,1,1,4,122,N413AS,ANC,PDX,50,46.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
4,2015,1,1,4,130,N457AS,FAI,SEA,115,107.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.

In [86]:
#Dropping Airline_x (airport code) and renaming airline_y (full name) 
#flights1.head()
flights1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5819079 entries, 0 to 5819078
Data columns (total 32 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE_CODE         object
 5   AIRLINE              object
 6   FLIGHT_NUMBER        int64
 7   TAIL_NUMBER          object
 8   ORIGIN_AIRPORT       object
 9   DESTINATION_AIRPORT  object
 10  SCHEDULED_DEPARTURE  int64
 11  DEPARTURE_TIME       float64
 12  DEPARTURE_DELAY      float64
 13  TAXI_OUT             float64
 14  WHEELS_OFF           float64
 15  SCHEDULED_TIME       float64
 16  ELAPSED_TIME         float64
 17  AIR_TIME             float64
 18  DISTANCE             int64
 19  WHEELS_ON            float64
 20  TAXI_IN              float64
 21  SCHEDULED_ARRIVAL    int64
 22  ARRIVAL_TIME         float64
 23  ARRIVAL_DELAY        float64
 24  DIVERTED             int64
 25  CANCELLED            int64
 26  CANCELLATION_REASON  object
 27  AIR_SYSTEM_DELAY     float64
 28  SECURITY_DELAY       float64
 29  AIRLINE_DELAY        float64
 30  LATE_AIRCRAFT_DELAY  float64
 31  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(6)
memory usage: 1.4+ GB

In [47]:
#rearranging columns for readability
flights1.insert(4,'AIRLINE_CODE',flights1.pop('AIRLINE_CODE'))
flights1.insert(5,'AIRLINE',flights1.pop('AIRLINE'))

In [52]:
#flights1.head()
flights1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5819079 entries, 0 to 5819078
Data columns (total 32 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE_CODE         object
 5   AIRLINE              object
 6   FLIGHT_NUMBER        int64
 7   TAIL_NUMBER          object
 8   ORIGIN_AIRPORT       object
 9   DESTINATION_AIRPORT  object
 10  SCHEDULED_DEPARTURE  int64
 11  DEPARTURE_TIME       float64
 12  DEPARTURE_DELAY      float64
 13  TAXI_OUT             float64
 14  WHEELS_OFF           float64
 15  SCHEDULED_TIME       float64
 16  ELAPSED_TIME         float64
 17  AIR_TIME             float64
 18  DISTANCE             int64
 19  WHEELS_ON            float64
 20  TAXI_IN              float64
 21  SCHEDULED_ARRIVAL    int64
 22  ARRIVAL_TIME         float64
 23  ARRIVAL_DELAY        float64
 24  DIVERTED             int64
 25  CANCELLED            int64
 26  CANCELLATION_REASON  object
 27  AIR_SYSTEM_DELAY     float64
 28  SECURITY_DELAY       float64
 29  AIRLINE_DELAY        float64
 30  LATE_AIRCRAFT_DELAY  float64
 31  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(6)
memory usage: 1.4+ GB

In [89]:
#merging the tables
flights2 = pd.merge(left = flights1, right = airport, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE').rename(columns={'AIRPORT':'ORIGIN_AIRPORT_NAME', 'CITY': 'ORIGIN_CITY', 'STATE':'ORIGIN_STATE','LATITUDE':'ORIGIN_LATITUDE', 'LONGITUDE':'ORIGIN_LONGITUDE'})
flights2.drop('IATA_CODE', axis=1, inplace=True) #axis 1 for column
flights2.drop('COUNTRY', axis=1, inplace=True) #axis 1 for column

In [90]:
#lights2.head()
#flights2.rename(columns={'AIRPORT':'ORIGIN_AIRPORT_NAME', 'CITY': 'ORIGIN_CITY', 'STATE':'ORIGIN_STATE','LATITUDE':'ORIGIN_LATITUDE', 'LONGITUDE':'ORIGIN_LONGITUDE'})
flights2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332914 entries, 0 to 5332913
Data columns (total 37 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE_CODE         object
 5   AIRLINE              object
 6   FLIGHT_NUMBER        int64
 7   TAIL_NUMBER          object
 8   ORIGIN_AIRPORT       object
 9   DESTINATION_AIRPORT  object
 10  SCHEDULED_DEPARTURE  int64
 11  DEPARTURE_TIME       float64
 12  DEPARTURE_DELAY      float64
 13  TAXI_OUT             float64
 14  WHEELS_OFF           float64
 15  SCHEDULED_TIME       float64
 16  ELAPSED_TIME         float64
 17  AIR_TIME             float64
 18  DISTANCE             int64
 19  WHEELS_ON            float64
 20  TAXI_IN              float64
 21  SCHEDULED_ARRIVAL    int64
 22  ARRIVAL_TIME         float64
 23  ARRIVAL_DELAY        float64
 24  DIVERTED             int64
 25  CANCELLED            int64
 26  CANCELLATION_REASON  object
 27  AIR_SYSTEM_DELAY     float64
 28  SECURITY_DELAY       float64
 29  AIRLINE_DELAY        float64
 30  LATE_AIRCRAFT_DELAY  float64
 31  WEATHER_DELAY        float64
 32  ORIGIN_AIRPORT_NAME  object
 33  ORIGIN_CITY          object
 34  ORIGIN_STATE         object
 35  ORIGIN_LATITUDE      float64
 36  ORIGIN_LONGITUDE     float64
dtypes: float64(18), int64(10), object(9)
memory usage: 1.5+ GB

In [92]:
#rearranging columns for readability
flights2.insert(9,'ORIGIN_AIRLPORT_NAME',flights2.pop('ORIGIN_AIRPORT_NAME'))
flights2.insert(10,'ORIGIN_CITY',flights2.pop('ORIGIN_CITY'))
flights2.insert(11,'ORIGIN_STATE',flights2.pop('ORIGIN_STATE'))
flights2.insert(12,'ORIGIN_LATITUDE',flights2.pop('ORIGIN_LATITUDE'))
flights2.insert(13,'ORIGIN_LONGITUDE',flights2.pop('ORIGIN_LONGITUDE'))

In [93]:
flights2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332914 entries, 0 to 5332913
Data columns (total 37 columns):
 #   Column                Dtype
---  ------                -----
 0   YEAR                  int64
 1   MONTH                 int64
 2   DAY                   int64
 3   DAY_OF_WEEK           int64
 4   AIRLINE_CODE          object
 5   AIRLINE               object
 6   FLIGHT_NUMBER         int64
 7   TAIL_NUMBER           object
 8   ORIGIN_AIRPORT        object
 9   ORIGIN_AIRLPORT_NAME  object
 10  ORIGIN_CITY           object
 11  ORIGIN_STATE          object
 12  ORIGIN_LATITUDE       float64
 13  ORIGIN_LONGITUDE      float64
 14  DESTINATION_AIRPORT   object
 15  SCHEDULED_DEPARTURE   int64
 16  DEPARTURE_TIME        float64
 17  DEPARTURE_DELAY       float64
 18  TAXI_OUT              float64
 19  WHEELS_OFF            float64
 20  SCHEDULED_TIME        float64
 21  ELAPSED_TIME          float64
 22  AIR_TIME              float64
 23  DISTANCE              int64
 24  WHEELS_ON             float64
 25  TAXI_IN               float64
 26  SCHEDULED_ARRIVAL     int64
 27  ARRIVAL_TIME          float64
 28  ARRIVAL_DELAY         float64
 29  DIVERTED              int64
 30  CANCELLED             int64
 31  CANCELLATION_REASON   object
 32  AIR_SYSTEM_DELAY      float64
 33  SECURITY_DELAY        float64
 34  AIRLINE_DELAY         float64
 35  LATE_AIRCRAFT_DELAY   float64
 36  WEATHER_DELAY         float64
dtypes: float64(18), int64(10), object(9)
memory usage: 1.5+ GB

In [95]:
flights3 = pd.merge(left = flights2, right = airport, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE').rename(columns={'AIRPORT':'DESTINATION_AIRPORT_NAME', 'CITY': 'DESTINATION_CITY', 'STATE':'DESTINATION_STATE','LATITUDE':'DESTINATION_LATITUDE', 'LONGITUDE':'DESTINATION_LONGITUDE'})
flights3.drop('IATA_CODE', axis=1, inplace=True) #axis 1 for column
flights3.drop('COUNTRY', axis=1, inplace=True) #axis 1 for column

In [96]:
flights3.()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332914 entries, 0 to 5332913
Data columns (total 42 columns):
 #   Column                    Dtype
---  ------                    -----
 0   YEAR                      int64
 1   MONTH                     int64
 2   DAY                       int64
 3   DAY_OF_WEEK               int64
 4   AIRLINE_CODE              object
 5   AIRLINE                   object
 6   FLIGHT_NUMBER             int64
 7   TAIL_NUMBER               object
 8   ORIGIN_AIRPORT            object
 9   ORIGIN_AIRLPORT_NAME      object
 10  ORIGIN_CITY               object
 11  ORIGIN_STATE              object
 12  ORIGIN_LATITUDE           float64
 13  ORIGIN_LONGITUDE          float64
 14  DESTINATION_AIRPORT       object
 15  SCHEDULED_DEPARTURE       int64
 16  DEPARTURE_TIME            float64
 17  DEPARTURE_DELAY           float64
 18  TAXI_OUT                  float64
 19  WHEELS_OFF                float64
 20  SCHEDULED_TIME            float64
 21  ELAPSED_TIME              float64
 22  AIR_TIME                  float64
 23  DISTANCE                  int64
 24  WHEELS_ON                 float64
 25  TAXI_IN                   float64
 26  SCHEDULED_ARRIVAL         int64
 27  ARRIVAL_TIME              float64
 28  ARRIVAL_DELAY             float64
 29  DIVERTED                  int64
 30  CANCELLED                 int64
 31  CANCELLATION_REASON       object
 32  AIR_SYSTEM_DELAY          float64
 33  SECURITY_DELAY            float64
 34  AIRLINE_DELAY             float64
 35  LATE_AIRCRAFT_DELAY       float64
 36  WEATHER_DELAY             float64
 37  DESTINATION_AIRPORT_NAME  object
 38  DESTINATION_CITY          object
 39  DESTINATION_STATE         object
 40  DESTINATION_LATITUDE      float64
 41  DESTINATION_LONGITUDE     float64
dtypes: float64(20), int64(10), object(12)
memory usage: 1.7+ GB

In [98]:
#rearranging columns for readability
flights3.insert(15,'DESTINATION_AIRLPORT_NAME',flights3.pop('DESTINATION_AIRPORT_NAME'))
flights3.insert(16,'DESTINATION_CITY',flights3.pop('DESTINATION_CITY'))
flights3.insert(17,'DESTINATION_STATE',flights3.pop('DESTINATION_STATE'))
flights3.insert(18,'DESTINATION_LATITUDE',flights3.pop('DESTINATION_LATITUDE'))
flights3.insert(19,'DESTINATION_LONGITUDE',flights3.pop('DESTINATION_LONGITUDE'))

In [100]:
flights3.isnull().sum()

YEAR                               0
MONTH                              0
DAY                                0
DAY_OF_WEEK                        0
AIRLINE_CODE                       0
AIRLINE                            0
FLIGHT_NUMBER                      0
TAIL_NUMBER                    14367
ORIGIN_AIRPORT                     0
ORIGIN_AIRLPORT_NAME               0
ORIGIN_CITY                        0
ORIGIN_STATE                       0
ORIGIN_LATITUDE                 4605
ORIGIN_LONGITUDE                4605
DESTINATION_AIRPORT                0
DESTINATION_AIRLPORT_NAME          0
DESTINATION_CITY                   0
DESTINATION_STATE                  0
DESTINATION_LATITUDE            4610
DESTINATION_LONGITUDE           4610
SCHEDULED_DEPARTURE                0
DEPARTURE_TIME                 83814
DEPARTURE_DELAY                83814
TAXI_OUT                       86612
WHEELS_OFF                     86612
SCHEDULED_TIME                     6
ELAPSED_TIME                  101784
AIR_TIME                      101784
DISTANCE                           0
WHEELS_ON                      89942
TAXI_IN                        89942
SCHEDULED_ARRIVAL                  0
ARRIVAL_TIME                   89942
ARRIVAL_DELAY                 101784
DIVERTED                           0
CANCELLED                          0
CANCELLATION_REASON          5245484
AIR_SYSTEM_DELAY             4329554
SECURITY_DELAY               4329554
AIRLINE_DELAY                4329554
LATE_AIRCRAFT_DELAY          4329554
WEATHER_DELAY                4329554
dtype: int64